body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #F0C48A;
  font-weight: 600;
  line-height: 2;
}

h2 {
  margin-top: 25px;
  font-size: 2.5rem;
  font-family: 'Silkscreen', cursive;
  color: #F0C48A;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  margin-top: 0;
  font-family: 'Silkscreen', cursive;
  color: #F0C48A;

}
.dotted {
  border: none;
  border-top: 5px dotted #EAF6F6;
}
.top-container {
background-color: #F6EABE;
position: relative;
padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
background-color: #F6EABE;
margin-top: 25px;
padding-top: 25px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  margin: 25px 0 25px 0;
}

.selfie {
  width: 25%;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.water-color-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.btn {
  background: #F6EABE;
  background-image: -webkit-linear-gradient(top, #F6EABE, #edbb79);
  background-image: -moz-linear-gradient(top, #F6EABE, #edbb79);
  background-image: -ms-linear-gradient(top, #F6EABE, #edbb79);
  background-image: -o-linear-gradient(top, #F6EABE, #edbb79);
  background-image: linear-gradient(to bottom, #F6EABE, #edbb79);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FB919E;
  background-image: -webkit-linear-gradient(top, #FB919E, #f0526a);
  background-image: -moz-linear-gradient(top, #FB919E, #f0526a);
  background-image: -ms-linear-gradient(top, #FB919E, #f0526a);
  background-image: -o-linear-gradient(top, #FB919E, #f0526a);
  background-image: linear-gradient(to bottom, #FB919E, #f0526a);
  text-decoration: none;
}

.water-mark {

}
.footer-link {
  color: #F0C48A;
  text-decoration: none;
}
