body {
  margin: 0;
  text-align: center;
}

h1 {
  width: 10%;
  margin: 0 auto 0 auto;
}

.top-container {
background-color: #FFB3B3;
}

.middle-container {
background-color: purple;
width: 200px;
height: 200px;
}

.bottom-container {
background-color: lightgreen;
width: 200px;
height: 200px;
}