body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #F0C48A;
  font-weight: 600;
  line-height: 2;
}

h2 {
  margin-top: 25px;
  font-size: 2.5rem;
  font-family: 'Silkscreen', cursive;
  color: #F0C48A;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  margin-top: 0;
  font-family: 'Silkscreen', cursive;
  color: #F0C48A;

}

.p {
  line-height: 2;
}

.dotted {
  border: 5px dotted lightgray;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
background-color: #F6EABE;
position: relative;
padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
background-color: #F6EABE;
padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile {
  margin: 25px 0 25px 0;
}

.intro  {
  width: 20%;
  margin: auto;
}

.selfie {
  width: 20%;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.water-color-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.btn {
  background: #F6EABE;
  background-image: -webkit-linear-gradient(top, #F6EABE, #edbb79);
  background-image: -moz-linear-gradient(top, #F6EABE, #edbb79);
  background-image: -ms-linear-gradient(top, #F6EABE, #edbb79);
  background-image: -o-linear-gradient(top, #F6EABE, #edbb79);
  background-image: linear-gradient(to bottom, #F6EABE, #edbb79);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Silkscreen', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FB919E;
  background-image: -webkit-linear-gradient(top, #FB919E, #f0526a);
  background-image: -moz-linear-gradient(top, #FB919E, #f0526a);
  background-image: -ms-linear-gradient(top, #FB919E, #f0526a);
  background-image: -o-linear-gradient(top, #FB919E, #f0526a);
  background-image: linear-gradient(to bottom, #FB919E, #f0526a);
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
font-size: 0.75rem;
padding: 20px 0;
}

a {
  color: #F0C48A;
  font-family: 'Silkscreen', cursive;
  margin: 10px 20px; 
  text-decoration: none;
}

a:hover {
  color: #FB919E;
}